<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1400.v7fd111b_ec82f">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2184.v0b_358b_953e69"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2184.v0b_358b_953e69">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>Pipeline script1 -&gt; fetch , build , test</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@3883.vb_3ff2a_e3eea_f">
    <script>pipeline {
	agent any
	tools {
		maven &quot;MAVEN3&quot;
		jdk &quot;OracleJDK11&quot;
	}

	stages {
		stage(&apos;Fetch&apos;) {
			steps {
				git branch: &apos;main&apos;, url: &apos;https://github.com/hkhcoder/vprofile-project.git&apos;
			}
		}

		stage(&apos;Build&apos;) {
			steps {
				sh &apos;mvn install -DskipTests&apos;
			}

			post {
				success {
					echo &apos;Archieve Now...&apos;
					archiveArtifacts artifacts : &apos;**/*.war&apos;
				}
			}
		}

		stage(&apos;Unit Tests&apos;) {
			steps {
				sh &apos;mvn test&apos;
			}
		}
	}
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>